%h1 Unassigned Interactions

%table.table.table-bordered.table-striped.sortable
  %thead
    %tr
      %th Name
      %th Total Interactions
      %th Created
    %tbody
      - current_user.basket.interactions.unassigned.each do |interaction|
        = content_tag_for(:tr, interaction) do
          %td= interaction.title
          %td= interaction.content
          %td= l interaction.created_at

