- if interaction.errors.any?
  $('#errors').html('#{j render 'layouts/errors', object: interaction}');
- else
  $('#announcement').fadeToggle("slow", "linear");
  $('#add_interaction').slideUp("slow", function(){
  $('#interactions').html('#{j render incident.interactions}');
  $("##{dom_id(interaction)}").fadeIn('slow', function(){$(this).effect("highlight", {}, 1500);});
  });


