$('#add_interaction').html("#{escape_javascript(render 'interactions/form')}").hide().slideDown('slow');
$(".tm-input").tagsManager({typeaheadAjaxSource: '/tags', typeahead: true});
$('.datetime').datetimepicker();
