#myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Edit Incident
  = simple_form_for incident, remote: true do |f|
    .modal-body
      = f.input :name, required: false, html: {class: 'input-xxlarge'}
    .modal-footer
      = f.button :submit, 'Update', class: 'btn btn-primary'