= simple_form_for :incident, html: {class: 'form-search'} do |f|
  = f.input_field :name, error: false, required: false, class: 'input-xxlarge'
  = f.button :submit, 'Create incident', class: 'btn btn-small btn-primary'