- cache incidents do
  %h1 Open Incidents
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Name
        %th Total Interactions
        %th Created
        %th Updated
    %tbody
      = render incidents


  #new_incident.well
    %h5 New Incident
    = render 'form'