#landing.span11
  .row
    .span6
      #myCarousel.carousel.slide
        %ol.carousel-indicators
          %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
          %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
          %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
        .carousel-inner
          .item.active
            = placeholdit_image_tag "600"
            .carousel-caption
              %h4 First Thumbnail label
              %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          .item
            = placeholdit_image_tag "500"
            .carousel-caption
              %h4 Second Thumbnail label
              %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          .item
            = placeholdit_image_tag "500"
            .carousel-caption
              %h4 Third Thumbnail label
              %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
        %a.left.carousel-control{"data-slide" => "prev", href: "#myCarousel"} ‹
        %a.right.carousel-control{"data-slide" => "next", href: "#myCarousel"} ›
    .span4.well
      = render partial: 'devise/sessions/form'

