#landing.span11
  .row
    .span6
      - carousel('#myCarousel') do
        - carousel_item(image: 'http://placehold.it/600', active: true)
        - carousel_item(image: 'http://placehold.it/600') do
          - carousel_caption(label: 'Jim', caption: 'Non')

    .span4.well
      = render partial: 'devise/sessions/form'

