/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap-tagmanager
 *= require normalize-rails
 *= require bootstrap_and_overrides
 *= require bootstrap-sortable
 *= require_self
 */

html, body {
  background: image-url('background.jpeg');
}

/* Form errors */
.error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

/* IE Warning */

.ie_warn {
  border: 1px solid;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 55px;
  padding-bottom: 15px;
  font: bold 12px verdana;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color: #fff;
  background: purple no-repeat 10px center;
  margin-bottom: 20px;
}

#add_interaction{
  display: none;
}


