- if browser.ie6? || browser.ie7? || browser.ie8?
  .ie_warn.text-center
    WARNING: You're running an older version of Internet Explorer that is not fully supported.
    %br/
    For more information, please click #{link_to 'here', page_path('ie_warning')}